<!-- static/index.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Real-Time Drawing App</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1>Co Draw</h1>

    <div class="container">
        <div class="controls">
            <input type="color" id="colorPicker" value="#000">
            <button id="clearButton">Clear canvas</button>
        </div>
        <canvas id="canvas" width="750" height="750" class="border border-black rounded-md"></canvas>
    </div>

    <script>
        // JavaScript code to handle drawing on the canvas and WebSocket communication
    </script>
    <script src="/static/js/script.js"></script>
</body>

</html>